Blank_PLC_flows.json
[
    {
        "id": "55aa8b476985ed2d",
        "type": "tab",
        "label": "PLC_2_MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7bd64fff6ef568d",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "name": "",
        "style": {
            "stroke": "#0070c0",
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "4ce4af9fccfa58c6",
            "be2e607e894266d9",
            "65854c37cb3465a8",
            "3bbaa8c1fd819651",
            "86cc7698e0b62168",
            "dd425a340f9f4acf",
            "adca40328829385d",
            "c1e8887c0afc4f39",
            "d9e7191ea084c277",
            "4805ebde3ff6ba58",
            "8233b2334e7fdb01",
            "1a2ad4def080bd18",
            "380b33d1aa30c494",
            "b4b269291621a804",
            "eac1a3a9afe7c574",
            "572c428e6d941db3",
            "6b3c77d0270b9148",
            "40bd4daf09e4307f",
            "064bd791caf7260c",
            "d038052869a50525",
            "40f73f2b20f5c26d",
            "d4a8330978fdd806",
            "2635613551d60b27",
            "69a604e63a27e97d",
            "b614652f3ce20188",
            "5c6953ebf2b9376c",
            "5a83843a60939616"
        ],
        "x": 88,
        "y": 19,
        "w": 1584,
        "h": 4048
    },
    {
        "id": "4cfd65c80daacf61",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "7682b132376f231b",
            "814ba5eed9bc243e",
            "4476c3e1d511e86e",
            "e1096e32ec262126",
            "711efb216c2615df",
            "3696b069ac79bda6",
            "8c1467c1d08de906",
            "7b18bb0fb2052d76",
            "7812d3a47f9d59ec",
            "1a90b59c76d13247",
            "1e956e2a039314b4"
        ],
        "x": 144,
        "y": 2119,
        "w": 1162,
        "h": 142
    },
    {
        "id": "86cc7698e0b62168",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "MQTT Trafic Flow",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfc7d7",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "a41ff64b70fc526a",
            "3b19c319cccc1b6d",
            "a2c184fb4007f30a",
            "ee4e5ce22720c20a",
            "7a9105e5043d45f6",
            "cfb3f16cda48df87",
            "08ac0d9210f4497c",
            "f28f2771b8f9fb54"
        ],
        "x": 374,
        "y": 2299,
        "w": 852,
        "h": 182
    },
    {
        "id": "dd425a340f9f4acf",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "MQTT Gate PLC Inputs",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfc7d7",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "5ba832b1b3b5110c",
            "9a9a87fe31f5c111",
            "37c0670211ff454d",
            "7b2ebb77acd34183",
            "61f26fa651934c82",
            "dfbcb9cae55747bb",
            "2ad3f1029b800031",
            "2e4ffe7a088f6832",
            "a5ef584e2f7519cf",
            "07342ac7f1c35362",
            "4065593f0ce770ae",
            "d5f6c8573bc4e93a",
            "09be7473829c6ba2",
            "c9c6e9e1b7728ac4",
            "243f46353ce0a23c",
            "9829e08ef2404e92",
            "43db3555bfcffbe2",
            "716710fd1eb97f83",
            "8702fb93d7db2064",
            "ad357e9ede1956e5",
            "7ff0bb649aaf94f6",
            "6d2a26c2bde31488",
            "d8e4d5fd2f70a2e0",
            "5f5e8e24149e4641",
            "931c807bf83d3a69",
            "ce2c8d4a8186bb69",
            "8c55a30cf0434705",
            "f072addcb8474604",
            "aa22bf73d6f6acf5",
            "9f9df8273d2d0c18",
            "a8490ad645b8e1f3",
            "ac6824739244c5e7",
            "4b49c7b1ca1782a4",
            "7aee15e91ff03123"
        ],
        "x": 124,
        "y": 2519,
        "w": 682,
        "h": 722
    },
    {
        "id": "adca40328829385d",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "MQTT Gate PLC Outputs",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfc7d7",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "49ddd9fbcb6a3d55",
            "300349d9ab18714d",
            "9bf929f0a5109375",
            "2a3c83165c9d4dae",
            "6ca729382ccd700c",
            "29128fb63632b45e",
            "4ceeb9d39ce2f804",
            "ed2ea31289fef66f",
            "fa673b36aea3a56a",
            "1d557e99af278257",
            "10f37ecc0140bae1",
            "1210229d171e351e",
            "17496a494c62903c",
            "f15df22054c072cc",
            "2d472d4a6a27ec60",
            "723b48975a4a11d4",
            "0ec9ee116446c339",
            "70504e030fc88593",
            "36f93e8f6d65e73c",
            "58ebfeea895512e3",
            "dfc8ca24d2fc2913",
            "c07fa28dfb93d88b",
            "c6cd591708af25fd",
            "45894b8a5adca985",
            "4b20881f35f1f9f6",
            "4b3ba82e3b64d480",
            "064f3f5316a7624c"
        ],
        "x": 124,
        "y": 3319,
        "w": 702,
        "h": 562
    },
    {
        "id": "c1e8887c0afc4f39",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "Client ID and Location Setup",
        "style": {
            "stroke": "#0070c0",
            "fill": "#7fb7df",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "512824d3c7572aad",
            "d764fda3641e8365",
            "53cc0d41e5afb21d",
            "80f2a1a5ef78ee00",
            "2fa7c90119b131fb",
            "9e7df177625e4f32",
            "f828dd34115511b1",
            "3ddf54a1b164af31",
            "e9a0b1a7f90ebaf5",
            "8b8d27fef3f51561",
            "f63f74a56101cb55",
            "bf1652dca1a91a96"
        ],
        "x": 114,
        "y": 99,
        "w": 1472,
        "h": 162
    },
    {
        "id": "d9e7191ea084c277",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "MQTT Control",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfc7d7",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "7e7cd6b1b0e43e37",
            "4ede89cf44a861d6",
            "da5e980759d85a0b",
            "7650baa4f3050d78",
            "11526b54cc86158c",
            "aa1b4c84808de4e3",
            "07f2cb97e2b32cee",
            "f5651fbdab667d15",
            "6ef4d95cd1083158"
        ],
        "x": 114,
        "y": 279,
        "w": 852,
        "h": 162
    },
    {
        "id": "4805ebde3ff6ba58",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "MQTT Gate PLC X100 Inputs",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfc7d7",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "97c69f625b02e26b",
            "4f3ae5df05e885ba",
            "e9f74caef3a5fd06",
            "31959c0085ecdf9f",
            "7332d0a73196d116",
            "639650181169b4e0",
            "6e6c01df2c93ed71",
            "6bc2427f8e772767",
            "49861bc95d0f93cb",
            "4f818e84423fe27d",
            "b6f0d79372bf1677",
            "9f554a312d18c319",
            "5bcbbd3938d66b35",
            "d748099937d7b9e6",
            "466f0d7cc8d0a238",
            "a1d49ae6e805f87c",
            "bb19ee86fcf31c29",
            "75368be60c965521",
            "08787f76e9641197",
            "b71564a63f93dad6",
            "f16085e8c799aece",
            "179a1c33e769c94e",
            "1aea9b79e7f905f4",
            "2f0839a82021fdae",
            "6a585c3981dee03b",
            "3de27b0b24ae4d86",
            "9fcc916e3e89c0bf",
            "b2ec04eca1a2602d",
            "50268ed7b3a701b9",
            "dcf1e3b992a3621a",
            "4a925911ec482a57",
            "0fdff0088ff93158",
            "18c6b0ab9d77d694",
            "1766a4158d2a626c"
        ],
        "x": 844,
        "y": 2519,
        "w": 762,
        "h": 722
    },
    {
        "id": "8233b2334e7fdb01",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "MQTT Gate PLC Y200 Outputs",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfc7d7",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "95b31c46f0efbed8",
            "6a6c05a4921b9364",
            "192eff5495fa72d6",
            "a947601b147bfe54",
            "ee7ac80b95208c99",
            "f53a933ffd8261c4",
            "5c5473b8ac65082f",
            "0dc1b36cff897f36",
            "9b82c74df5aa3969",
            "472e845b370ee21c",
            "3084bdaa371228f9",
            "6b65fd40c829673a",
            "a8153879bb303166",
            "0c411988ce925261",
            "9bb01bed68b47dea",
            "5946094f58cb2a29",
            "66f7d06ba5120aca",
            "c079a9ca873e9c08",
            "b8bbe1ff03e1813b",
            "bb5d062edb42e6d0",
            "4d2e1071c5692e00",
            "39d150cdef0763c6",
            "0e89852c51b9ba1f",
            "85fea26561135455",
            "239da1de067a1b87",
            "b5cc422ae8ab1e7b",
            "ef1a5263d4b41d04",
            "2fda3c09746f79f6",
            "6b6a250fd1b7e83d",
            "6e99afdee2f39a6b",
            "4cbe88a5eb5f0429",
            "c1069ee2bf3bea19",
            "42536e88ad3af3c0",
            "64c50ed39d814d7c"
        ],
        "x": 884,
        "y": 3319,
        "w": 762,
        "h": 722
    },
    {
        "id": "d038052869a50525",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "66865af752a8ee82",
            "50a7a83fcb560343",
            "109a420538c40460",
            "702ef8d3765bd14d",
            "b1b955f2ef077d59",
            "0485a341278b63a7",
            "9791b99729eab1c0",
            "adf6f0e4bbdcfc58",
            "45826d16f3a3586a",
            "9ca3144e4616afee",
            "ea2d825609a66157",
            "1574714d63579b97",
            "ee8f266c8db828ac"
        ],
        "x": 144,
        "y": 939,
        "w": 1422,
        "h": 182
    },
    {
        "id": "40f73f2b20f5c26d",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "d453cee1534c4b76",
            "1aee6fd387854555",
            "c9de86f268ed1dd9",
            "cddef759a71158f5",
            "75177dcee33aa49d",
            "b023801d95aec571",
            "0d106f3cc9160bbc",
            "9d5a1540cef7a942",
            "51eb2adfba6e5240",
            "d6527bbc9d77d05a",
            "17a088bb782649ae"
        ],
        "x": 144,
        "y": 1779,
        "w": 1092,
        "h": 142
    },
    {
        "id": "d4a8330978fdd806",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "6ce274e8be4eef70",
            "aea7ec63192ab0ae",
            "494089f9c0baf06b",
            "5bd6bf3d72f88f31",
            "99c38fc02e354755",
            "08a065e001827f34",
            "fb1f21dcac2b1bbf",
            "15a4a6c5f432b4ce",
            "a25205529ce8e079",
            "45f7b3ed7ed5bf5a",
            "b13bc073db40309f"
        ],
        "x": 144,
        "y": 579,
        "w": 1422,
        "h": 162
    },
    {
        "id": "2635613551d60b27",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "5b252724deefeae8",
            "fdfa5f034510c959",
            "01be45a96cda9b66",
            "a4165eb13af9d05c",
            "e11a901d2947d43e",
            "72a8e258a43f427e",
            "5e8cd4a6825a5c0e",
            "ee47ef4e01fd4185",
            "9ee0ce52bb8dbcb1",
            "163f981cc3770e2d",
            "e92ef6a963a94f5d"
        ],
        "x": 144,
        "y": 1179,
        "w": 1092,
        "h": 142
    },
    {
        "id": "69a604e63a27e97d",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "15cb5ab20f047c1e",
            "1260c8f60faceb88",
            "427265af0378a525",
            "d6e37e6887400108",
            "72b3c0cd540490f2",
            "156e64359bdfa585",
            "917dfd4cc57031b9",
            "4da59fe72e594292",
            "92c4ce1cc7f8cf21",
            "0a62a699edf140b0",
            "6529b7a4b7824deb"
        ],
        "x": 144,
        "y": 1379,
        "w": 1092,
        "h": 162
    },
    {
        "id": "b614652f3ce20188",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "4aa70d0a8c252c9a",
            "72826c7b04af3227",
            "f4af75b72c57e4eb",
            "f2882b2364f3f1bd",
            "0df7f2f71585e0ef",
            "66b28775d8818e2a",
            "d926d559c8a87fa9",
            "15029baaad031907",
            "46678f3f3c0d2ff0",
            "a2667de415759e14",
            "42225c17bae6ba7d"
        ],
        "x": 144,
        "y": 1579,
        "w": 1092,
        "h": 142
    },
    {
        "id": "5c6953ebf2b9376c",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "078aa914175a541f",
            "8b3bafbe245836b5",
            "a5126631ffb731b0",
            "2c3fa0415c6ec207",
            "5f4dcb68a349149c",
            "5b28ebcdd165c112",
            "3aada35597501a65",
            "87842d7b203f263a",
            "1940b85bcfd0cabd",
            "a4c04c6ae1eb7b23",
            "56b0f164ff91dc50"
        ],
        "x": 144,
        "y": 1959,
        "w": 1092,
        "h": 142
    },
    {
        "id": "5a83843a60939616",
        "type": "group",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "style": {
            "stroke": "#000000",
            "label": true
        },
        "nodes": [
            "6465c28d2153e38a",
            "b299fb906258756e",
            "c173a841deb0cabe",
            "aa6bc11ddd17ae86",
            "786ae75a760507f9",
            "5a5709e5aa28bcaf",
            "f8df2a927116d0c4",
            "e216b6a8318299a3",
            "7581d706912dbe0c",
            "b48b55ee25c82d10",
            "7804597f02b44c4a",
            "cfc232ea47698b3c",
            "d2bd36b374fa7669"
        ],
        "x": 144,
        "y": 759,
        "w": 1422,
        "h": 162
    },
    {
        "id": "4ce4af9fccfa58c6",
        "type": "comment",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "Requiered palettes to run flow",
        "info": "Requiered palettes\n\nnode-red 3.0.2\nnode-red-contrib-modbus 5.23.2\nnode-red-contrib-ui-led 0.4.11\nnode-red-dashboard 3.2.0",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "be2e607e894266d9",
        "type": "comment",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "MQTT Options",
        "info": "[client_id]/[location_id]\n[client_id]/[location_id]/Gate\n[client_id]/[location_id]/WiFi\n[client_id]/[location_id]/Status\n[client_id]/[location_id]/Traffic\n[client_id]/[location_id]/IO_Status/Inputs\n[client_id]/[location_id]/IO_Status/Outputs\n[client_id]/[location_id]/Auto/Open/Hr_Set\n[client_id]/[location_id]/Auto/Open/Min_Set\n[client_id]/[location_id]/Auto/Close/Hr_Set\n[client_id]/[location_id]/Auto/Close/Min_Set\n[client_id]/[location_id]/Auto/Open/Time_Check\n[client_id]/[location_id]/Auto/Close/Time_Check",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "65854c37cb3465a8",
        "type": "ui_text_input",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "label": "Enter Client ID",
        "tooltip": "",
        "group": "06e0f2c6c11ca5d1",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1100,
        "y": 140,
        "wires": [
            [
                "53cc0d41e5afb21d"
            ]
        ]
    },
    {
        "id": "3bbaa8c1fd819651",
        "type": "ui_text_input",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "label": "Enter Location ID",
        "tooltip": "",
        "group": "06e0f2c6c11ca5d1",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "2fa7c90119b131fb"
            ]
        ]
    },
    {
        "id": "a41ff64b70fc526a",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "86cc7698e0b62168",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "In",
                "fromt": "str",
                "to": "Entering",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Out",
                "fromt": "str",
                "to": "Leaving",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "      ",
                "fromt": "str",
                "to": "None",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 2400,
        "wires": [
            [
                "a2c184fb4007f30a",
                "ee4e5ce22720c20a"
            ]
        ]
    },
    {
        "id": "3b19c319cccc1b6d",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "86cc7698e0b62168",
        "name": "MQTT/Gate/Traffic--Link-In",
        "links": [
            "fdfa5f034510c959",
            "9733f39b392acf5f"
        ],
        "x": 415,
        "y": 2400,
        "wires": [
            [
                "a41ff64b70fc526a"
            ]
        ]
    },
    {
        "id": "a2c184fb4007f30a",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "86cc7698e0b62168",
        "group": "fd12bbc1d4a8ea0c",
        "order": 7,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Gate Trafic:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 730,
        "y": 2440,
        "wires": []
    },
    {
        "id": "ee4e5ce22720c20a",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "86cc7698e0b62168",
        "name": "Traffic States",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Entering    ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Leaving   ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 2380,
        "wires": [
            [
                "7a9105e5043d45f6"
            ],
            [
                "cfb3f16cda48df87"
            ],
            [
                "08ac0d9210f4497c"
            ]
        ],
        "outputLabels": [
            "In",
            "Out",
            "Idle"
        ]
    },
    {
        "id": "7a9105e5043d45f6",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "86cc7698e0b62168",
        "name": "Set Entering Icon",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "login",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2340,
        "wires": [
            [
                "f28f2771b8f9fb54"
            ]
        ]
    },
    {
        "id": "cfb3f16cda48df87",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "86cc7698e0b62168",
        "name": "Set Leaving Icon",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "logout",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2380,
        "wires": [
            [
                "f28f2771b8f9fb54"
            ]
        ]
    },
    {
        "id": "08ac0d9210f4497c",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "86cc7698e0b62168",
        "name": "Set Idle Icon",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 2420,
        "wires": [
            [
                "f28f2771b8f9fb54"
            ]
        ]
    },
    {
        "id": "f28f2771b8f9fb54",
        "type": "ui_button",
        "z": "55aa8b476985ed2d",
        "g": "86cc7698e0b62168",
        "name": "Trafic Icons",
        "group": "fd12bbc1d4a8ea0c",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "85",
        "className": "",
        "icon": "{{topic}}",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "5ba832b1b3b5110c",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2720,
        "wires": [
            [
                "43db3555bfcffbe2"
            ]
        ]
    },
    {
        "id": "9a9a87fe31f5c111",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2680,
        "wires": [
            [
                "43db3555bfcffbe2"
            ]
        ]
    },
    {
        "id": "37c0670211ff454d",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "2 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 2700,
        "wires": [
            [
                "9a9a87fe31f5c111"
            ],
            [
                "43db3555bfcffbe2"
            ],
            [
                "5ba832b1b3b5110c"
            ]
        ]
    },
    {
        "id": "7b2ebb77acd34183",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2800,
        "wires": [
            [
                "716710fd1eb97f83"
            ]
        ]
    },
    {
        "id": "61f26fa651934c82",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2760,
        "wires": [
            [
                "716710fd1eb97f83"
            ]
        ]
    },
    {
        "id": "dfbcb9cae55747bb",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "3 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 2780,
        "wires": [
            [
                "61f26fa651934c82"
            ],
            [
                "716710fd1eb97f83"
            ],
            [
                "7b2ebb77acd34183"
            ]
        ]
    },
    {
        "id": "2ad3f1029b800031",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2880,
        "wires": [
            [
                "ad357e9ede1956e5"
            ]
        ]
    },
    {
        "id": "2e4ffe7a088f6832",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2840,
        "wires": [
            [
                "ad357e9ede1956e5"
            ]
        ]
    },
    {
        "id": "a5ef584e2f7519cf",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "4 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 2860,
        "wires": [
            [
                "2e4ffe7a088f6832"
            ],
            [
                "ad357e9ede1956e5"
            ],
            [
                "2ad3f1029b800031"
            ]
        ]
    },
    {
        "id": "07342ac7f1c35362",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2960,
        "wires": [
            [
                "7ff0bb649aaf94f6"
            ]
        ]
    },
    {
        "id": "4065593f0ce770ae",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2920,
        "wires": [
            [
                "7ff0bb649aaf94f6"
            ]
        ]
    },
    {
        "id": "d5f6c8573bc4e93a",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "5 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 2940,
        "wires": [
            [
                "4065593f0ce770ae"
            ],
            [
                "7ff0bb649aaf94f6"
            ],
            [
                "07342ac7f1c35362"
            ]
        ]
    },
    {
        "id": "09be7473829c6ba2",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3040,
        "wires": [
            [
                "6d2a26c2bde31488"
            ]
        ]
    },
    {
        "id": "c9c6e9e1b7728ac4",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3000,
        "wires": [
            [
                "6d2a26c2bde31488"
            ]
        ]
    },
    {
        "id": "243f46353ce0a23c",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "6 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3020,
        "wires": [
            [
                "c9c6e9e1b7728ac4"
            ],
            [
                "6d2a26c2bde31488"
            ],
            [
                "09be7473829c6ba2"
            ]
        ]
    },
    {
        "id": "9829e08ef2404e92",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "order": 2,
        "group": "8011cd5053dc10ed",
        "width": 3,
        "height": 1,
        "label": "RF Remote (X1) ",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "RF Remote (X1) ",
        "x": 680,
        "y": 2620,
        "wires": []
    },
    {
        "id": "43db3555bfcffbe2",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "order": 3,
        "group": "8011cd5053dc10ed",
        "width": 3,
        "height": 1,
        "label": "Keypad (X2)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Keypad (X2)",
        "x": 670,
        "y": 2700,
        "wires": []
    },
    {
        "id": "716710fd1eb97f83",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "order": 4,
        "group": "8011cd5053dc10ed",
        "width": 3,
        "height": 1,
        "label": "SOS (X3)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "SOS (X3)",
        "x": 660,
        "y": 2780,
        "wires": []
    },
    {
        "id": "8702fb93d7db2064",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "MQTT/Gate-IO_Inputs",
        "links": [
            "1260c8f60faceb88",
            "af23af5f31819891"
        ],
        "x": 165,
        "y": 2860,
        "wires": [
            [
                "37c0670211ff454d",
                "dfbcb9cae55747bb",
                "a5ef584e2f7519cf",
                "d5f6c8573bc4e93a",
                "243f46353ce0a23c",
                "931c807bf83d3a69",
                "f072addcb8474604",
                "a8490ad645b8e1f3",
                "7aee15e91ff03123"
            ]
        ]
    },
    {
        "id": "ad357e9ede1956e5",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "order": 5,
        "group": "8011cd5053dc10ed",
        "width": 3,
        "height": 1,
        "label": "Exit Probe (X4)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Exit Probe (X4)",
        "x": 680,
        "y": 2860,
        "wires": []
    },
    {
        "id": "7ff0bb649aaf94f6",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "order": 6,
        "group": "8011cd5053dc10ed",
        "width": 3,
        "height": 1,
        "label": "Outside Loop (X5)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Outside Loop (X5)",
        "x": 690,
        "y": 2940,
        "wires": []
    },
    {
        "id": "6d2a26c2bde31488",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "order": 7,
        "group": "8011cd5053dc10ed",
        "width": 3,
        "height": 1,
        "label": "Inside Loop (X6)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Inside Loop (X6)",
        "x": 680,
        "y": 3020,
        "wires": []
    },
    {
        "id": "d8e4d5fd2f70a2e0",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "order": 9,
        "group": "8011cd5053dc10ed",
        "width": 3,
        "height": 1,
        "label": "Outside Beam (X7)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Outside Beam (X7)",
        "x": 690,
        "y": 3100,
        "wires": []
    },
    {
        "id": "5f5e8e24149e4641",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "order": 8,
        "group": "8011cd5053dc10ed",
        "width": 3,
        "height": 1,
        "label": "Inside Beam (X8)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Inside Beam (X8)",
        "x": 690,
        "y": 3180,
        "wires": []
    },
    {
        "id": "931c807bf83d3a69",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "group": "8011cd5053dc10ed",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Gate Inputs",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 370,
        "y": 2560,
        "wires": []
    },
    {
        "id": "ce2c8d4a8186bb69",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2600,
        "wires": [
            [
                "9829e08ef2404e92"
            ]
        ]
    },
    {
        "id": "8c55a30cf0434705",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2640,
        "wires": [
            [
                "9829e08ef2404e92"
            ]
        ]
    },
    {
        "id": "f072addcb8474604",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "1 Filtre",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 2620,
        "wires": [
            [
                "ce2c8d4a8186bb69"
            ],
            [
                "9829e08ef2404e92"
            ],
            [
                "8c55a30cf0434705"
            ]
        ]
    },
    {
        "id": "aa22bf73d6f6acf5",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3120,
        "wires": [
            [
                "d8e4d5fd2f70a2e0"
            ]
        ]
    },
    {
        "id": "9f9df8273d2d0c18",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3080,
        "wires": [
            [
                "d8e4d5fd2f70a2e0"
            ]
        ]
    },
    {
        "id": "a8490ad645b8e1f3",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "7 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3100,
        "wires": [
            [
                "9f9df8273d2d0c18"
            ],
            [
                "d8e4d5fd2f70a2e0"
            ],
            [
                "aa22bf73d6f6acf5"
            ]
        ]
    },
    {
        "id": "ac6824739244c5e7",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3200,
        "wires": [
            [
                "5f5e8e24149e4641"
            ]
        ]
    },
    {
        "id": "4b49c7b1ca1782a4",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3160,
        "wires": [
            [
                "5f5e8e24149e4641"
            ]
        ]
    },
    {
        "id": "7aee15e91ff03123",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "dd425a340f9f4acf",
        "name": "8 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3180,
        "wires": [
            [
                "4b49c7b1ca1782a4"
            ],
            [
                "5f5e8e24149e4641"
            ],
            [
                "ac6824739244c5e7"
            ]
        ]
    },
    {
        "id": "49ddd9fbcb6a3d55",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3520,
        "wires": [
            [
                "0ec9ee116446c339"
            ]
        ]
    },
    {
        "id": "300349d9ab18714d",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3480,
        "wires": [
            [
                "0ec9ee116446c339"
            ]
        ]
    },
    {
        "id": "9bf929f0a5109375",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "2 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3500,
        "wires": [
            [
                "300349d9ab18714d"
            ],
            [
                "0ec9ee116446c339"
            ],
            [
                "49ddd9fbcb6a3d55"
            ]
        ]
    },
    {
        "id": "2a3c83165c9d4dae",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3600,
        "wires": [
            [
                "70504e030fc88593"
            ]
        ]
    },
    {
        "id": "6ca729382ccd700c",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3560,
        "wires": [
            [
                "70504e030fc88593"
            ]
        ]
    },
    {
        "id": "29128fb63632b45e",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "3 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3580,
        "wires": [
            [
                "6ca729382ccd700c"
            ],
            [
                "70504e030fc88593"
            ],
            [
                "2a3c83165c9d4dae"
            ]
        ]
    },
    {
        "id": "4ceeb9d39ce2f804",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3680,
        "wires": [
            [
                "58ebfeea895512e3"
            ]
        ]
    },
    {
        "id": "ed2ea31289fef66f",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3640,
        "wires": [
            [
                "58ebfeea895512e3"
            ]
        ]
    },
    {
        "id": "fa673b36aea3a56a",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "4 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3660,
        "wires": [
            [
                "ed2ea31289fef66f"
            ],
            [
                "58ebfeea895512e3"
            ],
            [
                "4ceeb9d39ce2f804"
            ]
        ]
    },
    {
        "id": "1d557e99af278257",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3760,
        "wires": [
            [
                "dfc8ca24d2fc2913"
            ]
        ]
    },
    {
        "id": "10f37ecc0140bae1",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3720,
        "wires": [
            [
                "dfc8ca24d2fc2913"
            ]
        ]
    },
    {
        "id": "1210229d171e351e",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "5 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3740,
        "wires": [
            [
                "10f37ecc0140bae1"
            ],
            [
                "dfc8ca24d2fc2913"
            ],
            [
                "1d557e99af278257"
            ]
        ]
    },
    {
        "id": "17496a494c62903c",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3840,
        "wires": [
            [
                "c07fa28dfb93d88b"
            ]
        ]
    },
    {
        "id": "f15df22054c072cc",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3800,
        "wires": [
            [
                "c07fa28dfb93d88b"
            ]
        ]
    },
    {
        "id": "2d472d4a6a27ec60",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "6 Filter",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3820,
        "wires": [
            [
                "f15df22054c072cc"
            ],
            [
                "c07fa28dfb93d88b"
            ],
            [
                "17496a494c62903c"
            ]
        ]
    },
    {
        "id": "723b48975a4a11d4",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "order": 2,
        "group": "675184799fb9aa77",
        "width": 3,
        "height": 1,
        "label": "Y1",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Y1",
        "x": 650,
        "y": 3420,
        "wires": []
    },
    {
        "id": "0ec9ee116446c339",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "order": 3,
        "group": "675184799fb9aa77",
        "width": 3,
        "height": 1,
        "label": "Y2",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Y2",
        "x": 650,
        "y": 3500,
        "wires": []
    },
    {
        "id": "70504e030fc88593",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "order": 4,
        "group": "675184799fb9aa77",
        "width": 3,
        "height": 1,
        "label": "Y3",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Y3",
        "x": 650,
        "y": 3580,
        "wires": []
    },
    {
        "id": "36f93e8f6d65e73c",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "MQTT/Gate-IO_Outputs",
        "links": [
            "1aee6fd387854555",
            "c96f02711280852e"
        ],
        "x": 165,
        "y": 3560,
        "wires": [
            [
                "9bf929f0a5109375",
                "29128fb63632b45e",
                "fa673b36aea3a56a",
                "1210229d171e351e",
                "2d472d4a6a27ec60",
                "c6cd591708af25fd",
                "4b3ba82e3b64d480"
            ]
        ]
    },
    {
        "id": "58ebfeea895512e3",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "order": 5,
        "group": "675184799fb9aa77",
        "width": 3,
        "height": 1,
        "label": "Y4",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Y4",
        "x": 650,
        "y": 3660,
        "wires": []
    },
    {
        "id": "dfc8ca24d2fc2913",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "order": 6,
        "group": "675184799fb9aa77",
        "width": 3,
        "height": 1,
        "label": "Op Control Open (Y5)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op Control Open (Y5)",
        "x": 700,
        "y": 3740,
        "wires": []
    },
    {
        "id": "c07fa28dfb93d88b",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "order": 7,
        "group": "675184799fb9aa77",
        "width": 3,
        "height": 1,
        "label": "Op Control Safety (Y6)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op Control Safety (Y6)",
        "x": 700,
        "y": 3820,
        "wires": []
    },
    {
        "id": "c6cd591708af25fd",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "group": "675184799fb9aa77",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Gate Outputs",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 370,
        "y": 3360,
        "wires": []
    },
    {
        "id": "45894b8a5adca985",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3400,
        "wires": [
            [
                "723b48975a4a11d4"
            ]
        ]
    },
    {
        "id": "4b20881f35f1f9f6",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 3440,
        "wires": [
            [
                "723b48975a4a11d4"
            ]
        ]
    },
    {
        "id": "4b3ba82e3b64d480",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "name": "1 Filtre",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 3420,
        "wires": [
            [
                "45894b8a5adca985"
            ],
            [
                "723b48975a4a11d4"
            ],
            [
                "4b20881f35f1f9f6"
            ]
        ]
    },
    {
        "id": "064f3f5316a7624c",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "adca40328829385d",
        "group": "675184799fb9aa77",
        "order": 8,
        "width": 3,
        "height": 2,
        "name": "ui spacer",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 3360,
        "wires": []
    },
    {
        "id": "512824d3c7572aad",
        "type": "debug",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 140,
        "wires": []
    },
    {
        "id": "d764fda3641e8365",
        "type": "ui_dropdown",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "",
        "label": "Select Client ID",
        "tooltip": "",
        "place": "",
        "group": "06e0f2c6c11ca5d1",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": " ",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "3ddf54a1b164af31",
                "65854c37cb3465a8"
            ]
        ]
    },
    {
        "id": "53cc0d41e5afb21d",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "Move client_id",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "client_id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 140,
        "wires": [
            [
                "512824d3c7572aad"
            ]
        ]
    },
    {
        "id": "80f2a1a5ef78ee00",
        "type": "ui_dropdown",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "",
        "label": "Select Location ID",
        "tooltip": "",
        "place": "",
        "group": "06e0f2c6c11ca5d1",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": " ",
                "type": "str"
            },
            {
                "label": "Gate",
                "value": "Gate",
                "type": "str"
            },
            {
                "label": "House",
                "value": "House",
                "type": "str"
            },
            {
                "label": "Office",
                "value": "Office",
                "type": "str"
            },
            {
                "label": "Gate 1",
                "value": "PLC_1",
                "type": "str"
            },
            {
                "label": "Gate 2",
                "value": "PLC_2",
                "type": "str"
            },
            {
                "label": "HMI 1",
                "value": "HMI_5",
                "type": "str"
            },
            {
                "label": "HMI 2",
                "value": "HMI_6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "e9a0b1a7f90ebaf5",
                "3bbaa8c1fd819651"
            ]
        ]
    },
    {
        "id": "2fa7c90119b131fb",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "Move location_id",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "location_id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 200,
        "wires": [
            [
                "9e7df177625e4f32"
            ]
        ]
    },
    {
        "id": "9e7df177625e4f32",
        "type": "debug",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 200,
        "wires": []
    },
    {
        "id": "f828dd34115511b1",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 160,
        "wires": [
            [
                "65854c37cb3465a8"
            ]
        ]
    },
    {
        "id": "3ddf54a1b164af31",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": " ",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "f828dd34115511b1"
            ]
        ]
    },
    {
        "id": "e9a0b1a7f90ebaf5",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": " ",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "8b8d27fef3f51561"
            ]
        ]
    },
    {
        "id": "8b8d27fef3f51561",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "3bbaa8c1fd819651"
            ]
        ]
    },
    {
        "id": "f63f74a56101cb55",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "link in 2",
        "links": [
            "064bd791caf7260c"
        ],
        "x": 155,
        "y": 160,
        "wires": [
            [
                "bf1652dca1a91a96"
            ]
        ]
    },
    {
        "id": "bf1652dca1a91a96",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "c1e8887c0afc4f39",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": " ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "d764fda3641e8365",
                "80f2a1a5ef78ee00"
            ]
        ]
    },
    {
        "id": "7e7cd6b1b0e43e37",
        "type": "mqtt out",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aa771505f2398495",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "4ede89cf44a861d6",
        "type": "inject",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "11526b54cc86158c"
            ]
        ]
    },
    {
        "id": "da5e980759d85a0b",
        "type": "inject",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "aa1b4c84808de4e3"
            ]
        ]
    },
    {
        "id": "7650baa4f3050d78",
        "type": "inject",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "07f2cb97e2b32cee"
            ]
        ]
    },
    {
        "id": "11526b54cc86158c",
        "type": "ui_button",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "",
        "group": "fd12bbc1d4a8ea0c",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Gate Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "login",
        "payload": "Open",
        "payloadType": "str",
        "topic": "control",
        "topicType": "msg",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "6ef4d95cd1083158"
            ]
        ]
    },
    {
        "id": "aa1b4c84808de4e3",
        "type": "ui_button",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "",
        "group": "fd12bbc1d4a8ea0c",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Gate Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "logout",
        "payload": "Close",
        "payloadType": "str",
        "topic": "control",
        "topicType": "msg",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "6ef4d95cd1083158"
            ]
        ]
    },
    {
        "id": "07f2cb97e2b32cee",
        "type": "ui_button",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "",
        "group": "fd12bbc1d4a8ea0c",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Gate Toggle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "Toggle",
        "payloadType": "str",
        "topic": "control",
        "topicType": "msg",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "6ef4d95cd1083158"
            ]
        ]
    },
    {
        "id": "f5651fbdab667d15",
        "type": "debug",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "Control",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "6ef4d95cd1083158",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "d9e7191ea084c277",
        "name": "MQTT Client/Gate Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}",
        "output": "str",
        "x": 580,
        "y": 360,
        "wires": [
            [
                "7e7cd6b1b0e43e37",
                "f5651fbdab667d15"
            ]
        ]
    },
    {
        "id": "97c69f625b02e26b",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2720,
        "wires": [
            [
                "bb19ee86fcf31c29"
            ]
        ]
    },
    {
        "id": "4f3ae5df05e885ba",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2680,
        "wires": [
            [
                "bb19ee86fcf31c29"
            ]
        ]
    },
    {
        "id": "e9f74caef3a5fd06",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "2 Filter (X102)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 2700,
        "wires": [
            [
                "4f3ae5df05e885ba"
            ],
            [
                "bb19ee86fcf31c29"
            ],
            [
                "97c69f625b02e26b"
            ]
        ]
    },
    {
        "id": "31959c0085ecdf9f",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2800,
        "wires": [
            [
                "75368be60c965521"
            ]
        ]
    },
    {
        "id": "7332d0a73196d116",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2760,
        "wires": [
            [
                "75368be60c965521"
            ]
        ]
    },
    {
        "id": "639650181169b4e0",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "3 Filter (X103)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 2780,
        "wires": [
            [
                "7332d0a73196d116"
            ],
            [
                "75368be60c965521"
            ],
            [
                "31959c0085ecdf9f"
            ]
        ]
    },
    {
        "id": "6e6c01df2c93ed71",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2880,
        "wires": [
            [
                "b71564a63f93dad6"
            ]
        ]
    },
    {
        "id": "6bc2427f8e772767",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2840,
        "wires": [
            [
                "b71564a63f93dad6"
            ]
        ]
    },
    {
        "id": "49861bc95d0f93cb",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "4 Filter (X104)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 2860,
        "wires": [
            [
                "6bc2427f8e772767"
            ],
            [
                "b71564a63f93dad6"
            ],
            [
                "6e6c01df2c93ed71"
            ]
        ]
    },
    {
        "id": "4f818e84423fe27d",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2960,
        "wires": [
            [
                "f16085e8c799aece"
            ]
        ]
    },
    {
        "id": "b6f0d79372bf1677",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2920,
        "wires": [
            [
                "f16085e8c799aece"
            ]
        ]
    },
    {
        "id": "9f554a312d18c319",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "5 Filter (X105)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 2940,
        "wires": [
            [
                "b6f0d79372bf1677"
            ],
            [
                "f16085e8c799aece"
            ],
            [
                "4f818e84423fe27d"
            ]
        ]
    },
    {
        "id": "5bcbbd3938d66b35",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 3040,
        "wires": [
            [
                "179a1c33e769c94e"
            ]
        ]
    },
    {
        "id": "d748099937d7b9e6",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 3000,
        "wires": [
            [
                "179a1c33e769c94e"
            ]
        ]
    },
    {
        "id": "466f0d7cc8d0a238",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "6 Filter (X106)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 3020,
        "wires": [
            [
                "d748099937d7b9e6"
            ],
            [
                "179a1c33e769c94e"
            ],
            [
                "5bcbbd3938d66b35"
            ]
        ]
    },
    {
        "id": "a1d49ae6e805f87c",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "order": 2,
        "group": "39d1932659a18864",
        "width": 3,
        "height": 1,
        "label": "Op 1 Close Limit (X101)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op 1 Close Limit (X101)",
        "x": 1470,
        "y": 2620,
        "wires": []
    },
    {
        "id": "bb19ee86fcf31c29",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "order": 3,
        "group": "39d1932659a18864",
        "width": 3,
        "height": 1,
        "label": "Op 1 Open Limit (X102)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op 1 Open Limit (X102)",
        "x": 1470,
        "y": 2700,
        "wires": []
    },
    {
        "id": "75368be60c965521",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "order": 4,
        "group": "39d1932659a18864",
        "width": 3,
        "height": 1,
        "label": "X103",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "X103",
        "x": 1410,
        "y": 2780,
        "wires": []
    },
    {
        "id": "08787f76e9641197",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "MQTT/Gate-IO_Inputs_100",
        "links": [
            "72826c7b04af3227"
        ],
        "x": 885,
        "y": 2860,
        "wires": [
            [
                "e9f74caef3a5fd06",
                "639650181169b4e0",
                "49861bc95d0f93cb",
                "9f554a312d18c319",
                "466f0d7cc8d0a238",
                "6a585c3981dee03b",
                "b2ec04eca1a2602d",
                "4a925911ec482a57",
                "1766a4158d2a626c"
            ]
        ]
    },
    {
        "id": "b71564a63f93dad6",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "order": 5,
        "group": "39d1932659a18864",
        "width": 3,
        "height": 1,
        "label": "X104",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "X104",
        "x": 1410,
        "y": 2860,
        "wires": []
    },
    {
        "id": "f16085e8c799aece",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "order": 6,
        "group": "39d1932659a18864",
        "width": 3,
        "height": 1,
        "label": "Op 2 Close Limit (X105)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op 2 Close Limit (X105)",
        "x": 1470,
        "y": 2940,
        "wires": []
    },
    {
        "id": "179a1c33e769c94e",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "order": 7,
        "group": "39d1932659a18864",
        "width": 3,
        "height": 1,
        "label": "Op 2 Open Limit (X106)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op 2 Open Limit (X106)",
        "x": 1470,
        "y": 3020,
        "wires": []
    },
    {
        "id": "1aea9b79e7f905f4",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "order": 8,
        "group": "39d1932659a18864",
        "width": 3,
        "height": 1,
        "label": "X107",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "X107",
        "x": 1410,
        "y": 3100,
        "wires": []
    },
    {
        "id": "2f0839a82021fdae",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "order": 9,
        "group": "39d1932659a18864",
        "width": 3,
        "height": 1,
        "label": "X108",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#004600",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "X108",
        "x": 1410,
        "y": 3180,
        "wires": []
    },
    {
        "id": "6a585c3981dee03b",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "group": "39d1932659a18864",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Gate Inputs 100",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1080,
        "y": 2560,
        "wires": []
    },
    {
        "id": "3de27b0b24ae4d86",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2600,
        "wires": [
            [
                "a1d49ae6e805f87c"
            ]
        ]
    },
    {
        "id": "9fcc916e3e89c0bf",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 2640,
        "wires": [
            [
                "a1d49ae6e805f87c"
            ]
        ]
    },
    {
        "id": "b2ec04eca1a2602d",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "1 Filtre (X101)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 2620,
        "wires": [
            [
                "3de27b0b24ae4d86"
            ],
            [
                "a1d49ae6e805f87c"
            ],
            [
                "9fcc916e3e89c0bf"
            ]
        ]
    },
    {
        "id": "50268ed7b3a701b9",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 3120,
        "wires": [
            [
                "1aea9b79e7f905f4"
            ]
        ]
    },
    {
        "id": "dcf1e3b992a3621a",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 3080,
        "wires": [
            [
                "1aea9b79e7f905f4"
            ]
        ]
    },
    {
        "id": "4a925911ec482a57",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "7 Filter (X107)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 3100,
        "wires": [
            [
                "dcf1e3b992a3621a"
            ],
            [
                "1aea9b79e7f905f4"
            ],
            [
                "50268ed7b3a701b9"
            ]
        ]
    },
    {
        "id": "0fdff0088ff93158",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 3200,
        "wires": [
            [
                "2f0839a82021fdae"
            ]
        ]
    },
    {
        "id": "18c6b0ab9d77d694",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 3160,
        "wires": [
            [
                "2f0839a82021fdae"
            ]
        ]
    },
    {
        "id": "1766a4158d2a626c",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4805ebde3ff6ba58",
        "name": "8 Filter (X108)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 3180,
        "wires": [
            [
                "18c6b0ab9d77d694"
            ],
            [
                "2f0839a82021fdae"
            ],
            [
                "0fdff0088ff93158"
            ]
        ]
    },
    {
        "id": "95b31c46f0efbed8",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3520,
        "wires": [
            [
                "66f7d06ba5120aca"
            ]
        ]
    },
    {
        "id": "6a6c05a4921b9364",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3480,
        "wires": [
            [
                "66f7d06ba5120aca"
            ]
        ]
    },
    {
        "id": "192eff5495fa72d6",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "2 Filter (Y202)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1120,
        "y": 3500,
        "wires": [
            [
                "6a6c05a4921b9364"
            ],
            [
                "66f7d06ba5120aca"
            ],
            [
                "95b31c46f0efbed8"
            ]
        ]
    },
    {
        "id": "a947601b147bfe54",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3600,
        "wires": [
            [
                "c079a9ca873e9c08"
            ]
        ]
    },
    {
        "id": "ee7ac80b95208c99",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3560,
        "wires": [
            [
                "c079a9ca873e9c08"
            ]
        ]
    },
    {
        "id": "f53a933ffd8261c4",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "3 Filter (Y203)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1120,
        "y": 3580,
        "wires": [
            [
                "ee7ac80b95208c99"
            ],
            [
                "c079a9ca873e9c08"
            ],
            [
                "a947601b147bfe54"
            ]
        ]
    },
    {
        "id": "5c5473b8ac65082f",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3680,
        "wires": [
            [
                "bb5d062edb42e6d0"
            ]
        ]
    },
    {
        "id": "0dc1b36cff897f36",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3640,
        "wires": [
            [
                "bb5d062edb42e6d0"
            ]
        ]
    },
    {
        "id": "9b82c74df5aa3969",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "4 Filter (Y204)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1120,
        "y": 3660,
        "wires": [
            [
                "0dc1b36cff897f36"
            ],
            [
                "bb5d062edb42e6d0"
            ],
            [
                "5c5473b8ac65082f"
            ]
        ]
    },
    {
        "id": "472e845b370ee21c",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3760,
        "wires": [
            [
                "4d2e1071c5692e00"
            ]
        ]
    },
    {
        "id": "3084bdaa371228f9",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3720,
        "wires": [
            [
                "4d2e1071c5692e00"
            ]
        ]
    },
    {
        "id": "6b65fd40c829673a",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "5 Filter (Y205)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1120,
        "y": 3740,
        "wires": [
            [
                "3084bdaa371228f9"
            ],
            [
                "4d2e1071c5692e00"
            ],
            [
                "472e845b370ee21c"
            ]
        ]
    },
    {
        "id": "a8153879bb303166",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3840,
        "wires": [
            [
                "39d150cdef0763c6"
            ]
        ]
    },
    {
        "id": "0c411988ce925261",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3800,
        "wires": [
            [
                "39d150cdef0763c6"
            ]
        ]
    },
    {
        "id": "9bb01bed68b47dea",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "6 Filter (Y206)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1120,
        "y": 3820,
        "wires": [
            [
                "0c411988ce925261"
            ],
            [
                "39d150cdef0763c6"
            ],
            [
                "a8153879bb303166"
            ]
        ]
    },
    {
        "id": "5946094f58cb2a29",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "order": 2,
        "group": "24eacc80a147dfda",
        "width": 3,
        "height": 1,
        "label": "Op 1 Close Limit (Y201)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op 1 Close Limit (Y201)",
        "x": 1510,
        "y": 3420,
        "wires": []
    },
    {
        "id": "66f7d06ba5120aca",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "order": 3,
        "group": "24eacc80a147dfda",
        "width": 3,
        "height": 1,
        "label": "Op 1 Open Limit (Y202)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op 1 Open Limit (Y202)",
        "x": 1510,
        "y": 3500,
        "wires": []
    },
    {
        "id": "c079a9ca873e9c08",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "order": 4,
        "group": "24eacc80a147dfda",
        "width": 3,
        "height": 1,
        "label": "Y203",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Y203",
        "x": 1450,
        "y": 3580,
        "wires": []
    },
    {
        "id": "b8bbe1ff03e1813b",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "MQTT/Gate-IO_Outputs_200",
        "links": [
            "8b3bafbe245836b5"
        ],
        "x": 925,
        "y": 3660,
        "wires": [
            [
                "192eff5495fa72d6",
                "f53a933ffd8261c4",
                "9b82c74df5aa3969",
                "6b65fd40c829673a",
                "9bb01bed68b47dea",
                "0e89852c51b9ba1f",
                "b5cc422ae8ab1e7b",
                "64c50ed39d814d7c",
                "6b6a250fd1b7e83d"
            ]
        ]
    },
    {
        "id": "bb5d062edb42e6d0",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "order": 5,
        "group": "24eacc80a147dfda",
        "width": 3,
        "height": 1,
        "label": "Y204",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Y204",
        "x": 1450,
        "y": 3660,
        "wires": []
    },
    {
        "id": "4d2e1071c5692e00",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "order": 6,
        "group": "24eacc80a147dfda",
        "width": 3,
        "height": 1,
        "label": "Op 2 Close Limit (Y205)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op 2 Close Limit (Y205)",
        "x": 1510,
        "y": 3740,
        "wires": []
    },
    {
        "id": "39d150cdef0763c6",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "order": 7,
        "group": "24eacc80a147dfda",
        "width": 3,
        "height": 1,
        "label": "Op 2 Open Limit (Y206)",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Op 2 Open Limit (Y206)",
        "x": 1510,
        "y": 3820,
        "wires": []
    },
    {
        "id": "0e89852c51b9ba1f",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "group": "24eacc80a147dfda",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Gate Outputs 200",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1130,
        "y": 3360,
        "wires": []
    },
    {
        "id": "85fea26561135455",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3400,
        "wires": [
            [
                "5946094f58cb2a29"
            ]
        ]
    },
    {
        "id": "239da1de067a1b87",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3440,
        "wires": [
            [
                "5946094f58cb2a29"
            ]
        ]
    },
    {
        "id": "b5cc422ae8ab1e7b",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "1 Filtre (Y201)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1120,
        "y": 3420,
        "wires": [
            [
                "85fea26561135455"
            ],
            [
                "5946094f58cb2a29"
            ],
            [
                "239da1de067a1b87"
            ]
        ]
    },
    {
        "id": "ef1a5263d4b41d04",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 4000,
        "wires": [
            [
                "4cbe88a5eb5f0429"
            ]
        ]
    },
    {
        "id": "2fda3c09746f79f6",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3960,
        "wires": [
            [
                "4cbe88a5eb5f0429"
            ]
        ]
    },
    {
        "id": "6b6a250fd1b7e83d",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "8 Filter (Y208)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1120,
        "y": 3980,
        "wires": [
            [
                "2fda3c09746f79f6"
            ],
            [
                "4cbe88a5eb5f0429"
            ],
            [
                "ef1a5263d4b41d04"
            ]
        ]
    },
    {
        "id": "6e99afdee2f39a6b",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "order": 8,
        "group": "24eacc80a147dfda",
        "width": 3,
        "height": 1,
        "label": "Y207",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Y207",
        "x": 1450,
        "y": 3900,
        "wires": []
    },
    {
        "id": "4cbe88a5eb5f0429",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "order": 9,
        "group": "24eacc80a147dfda",
        "width": 3,
        "height": 1,
        "label": "Y208",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#640000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#8f8f8f",
                "value": "null",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Y208",
        "x": 1450,
        "y": 3980,
        "wires": []
    },
    {
        "id": "c1069ee2bf3bea19",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3880,
        "wires": [
            [
                "6e99afdee2f39a6b"
            ]
        ]
    },
    {
        "id": "42536e88ad3af3c0",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 3920,
        "wires": [
            [
                "6e99afdee2f39a6b"
            ]
        ]
    },
    {
        "id": "64c50ed39d814d7c",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "8233b2334e7fdb01",
        "name": "7 Filtre (Y207)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "null",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1120,
        "y": 3900,
        "wires": [
            [
                "c1069ee2bf3bea19"
            ],
            [
                "6e99afdee2f39a6b"
            ],
            [
                "42536e88ad3af3c0"
            ]
        ]
    },
    {
        "id": "1a2ad4def080bd18",
        "type": "ui_button",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "group": "06e0f2c6c11ca5d1",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Subscribe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "payload",
        "topicType": "msg",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "eac1a3a9afe7c574",
                "572c428e6d941db3"
            ]
        ]
    },
    {
        "id": "380b33d1aa30c494",
        "type": "inject",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "Subscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "1a2ad4def080bd18"
            ]
        ]
    },
    {
        "id": "b4b269291621a804",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 500,
        "wires": [
            [
                "572c428e6d941db3"
            ]
        ]
    },
    {
        "id": "eac1a3a9afe7c574",
        "type": "delay",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "b4b269291621a804"
            ]
        ]
    },
    {
        "id": "572c428e6d941db3",
        "type": "link out",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "Master Sub Switch-Out",
        "mode": "link",
        "links": [
            "9791b99729eab1c0",
            "9d5a1540cef7a942",
            "ee47ef4e01fd4185",
            "4da59fe72e594292",
            "f8df2a927116d0c4",
            "fb1f21dcac2b1bbf",
            "15029baaad031907",
            "87842d7b203f263a",
            "4751043ee899aad6",
            "8c1467c1d08de906"
        ],
        "x": 815,
        "y": 500,
        "wires": []
    },
    {
        "id": "6b3c77d0270b9148",
        "type": "ui_button",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "",
        "group": "06e0f2c6c11ca5d1",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Unubscribe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "payload",
        "topicType": "msg",
        "x": 390,
        "y": 540,
        "wires": [
            [
                "064bd791caf7260c"
            ]
        ]
    },
    {
        "id": "40bd4daf09e4307f",
        "type": "inject",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "Unsubscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "6b3c77d0270b9148"
            ]
        ]
    },
    {
        "id": "064bd791caf7260c",
        "type": "link out",
        "z": "55aa8b476985ed2d",
        "g": "f7bd64fff6ef568d",
        "name": "Master Sub Switch-Out",
        "mode": "link",
        "links": [
            "9791b99729eab1c0",
            "9d5a1540cef7a942",
            "ee47ef4e01fd4185",
            "4da59fe72e594292",
            "f8df2a927116d0c4",
            "fb1f21dcac2b1bbf",
            "15029baaad031907",
            "87842d7b203f263a",
            "f63f74a56101cb55",
            "8c1467c1d08de906"
        ],
        "x": 585,
        "y": 540,
        "wires": []
    },
    {
        "id": "66865af752a8ee82",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 830,
        "y": 1020,
        "wires": [
            [
                "109a420538c40460",
                "1574714d63579b97"
            ]
        ]
    },
    {
        "id": "50a7a83fcb560343",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "MQTT WiFi Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/WiFi",
        "output": "str",
        "x": 640,
        "y": 1020,
        "wires": [
            [
                "66865af752a8ee82"
            ]
        ]
    },
    {
        "id": "109a420538c40460",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "group": "8a9b48a0421aaca5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WiFi Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1050,
        "y": 1080,
        "wires": []
    },
    {
        "id": "702ef8d3765bd14d",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "b1b955f2ef077d59"
            ],
            [
                "0485a341278b63a7"
            ]
        ]
    },
    {
        "id": "b1b955f2ef077d59",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "50a7a83fcb560343",
                "ee8f266c8db828ac"
            ]
        ]
    },
    {
        "id": "0485a341278b63a7",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "50a7a83fcb560343",
                "45826d16f3a3586a",
                "ee8f266c8db828ac"
            ]
        ]
    },
    {
        "id": "9791b99729eab1c0",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 1040,
        "wires": [
            [
                "702ef8d3765bd14d"
            ]
        ]
    },
    {
        "id": "adf6f0e4bbdcfc58",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1080,
        "wires": [
            [
                "109a420538c40460",
                "1574714d63579b97"
            ]
        ]
    },
    {
        "id": "45826d16f3a3586a",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1080,
        "wires": [
            [
                "adf6f0e4bbdcfc58"
            ]
        ]
    },
    {
        "id": "9ca3144e4616afee",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}%",
        "output": "str",
        "x": 1260,
        "y": 1020,
        "wires": [
            [
                "ea2d825609a66157"
            ]
        ]
    },
    {
        "id": "ea2d825609a66157",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "group": "06e0f2c6c11ca5d1",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Gate PLC WiFi Signal:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1440,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1574714d63579b97",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1020,
        "wires": [
            [
                "9ca3144e4616afee"
            ]
        ]
    },
    {
        "id": "ee8f266c8db828ac",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "d038052869a50525",
        "name": "Fochtman MQTT WiFi Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/Wifi",
        "output": "str",
        "x": 670,
        "y": 980,
        "wires": [
            [
                "66865af752a8ee82"
            ]
        ]
    },
    {
        "id": "d453cee1534c4b76",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 850,
        "y": 1820,
        "wires": [
            [
                "cddef759a71158f5",
                "17a088bb782649ae"
            ]
        ]
    },
    {
        "id": "1aee6fd387854555",
        "type": "link out",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "MQTT/Gate/IO_Status/Outputs-Out",
        "mode": "link",
        "links": [
            "36f93e8f6d65e73c",
            "53fe80a6b4693f3b"
        ],
        "x": 1195,
        "y": 1820,
        "wires": []
    },
    {
        "id": "c9de86f268ed1dd9",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "MQTT Outputs Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/IO_Status/Outputs",
        "output": "str",
        "x": 650,
        "y": 1820,
        "wires": [
            [
                "d453cee1534c4b76"
            ]
        ]
    },
    {
        "id": "cddef759a71158f5",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "group": "8a9b48a0421aaca5",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Outputs Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1060,
        "y": 1880,
        "wires": []
    },
    {
        "id": "75177dcee33aa49d",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1840,
        "wires": [
            [
                "b023801d95aec571"
            ],
            [
                "0d106f3cc9160bbc"
            ]
        ]
    },
    {
        "id": "b023801d95aec571",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1820,
        "wires": [
            [
                "c9de86f268ed1dd9"
            ]
        ]
    },
    {
        "id": "0d106f3cc9160bbc",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1860,
        "wires": [
            [
                "c9de86f268ed1dd9",
                "d6527bbc9d77d05a"
            ]
        ]
    },
    {
        "id": "9d5a1540cef7a942",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 1840,
        "wires": [
            [
                "75177dcee33aa49d"
            ]
        ]
    },
    {
        "id": "51eb2adfba6e5240",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1880,
        "wires": [
            [
                "cddef759a71158f5",
                "17a088bb782649ae"
            ]
        ]
    },
    {
        "id": "d6527bbc9d77d05a",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1880,
        "wires": [
            [
                "51eb2adfba6e5240"
            ]
        ]
    },
    {
        "id": "17a088bb782649ae",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "40f73f2b20f5c26d",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1820,
        "wires": [
            [
                "1aee6fd387854555"
            ]
        ]
    },
    {
        "id": "6ce274e8be4eef70",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 850,
        "y": 640,
        "wires": [
            [
                "494089f9c0baf06b",
                "b13bc073db40309f"
            ]
        ]
    },
    {
        "id": "aea7ec63192ab0ae",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "MQTT Client/Gate Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}",
        "output": "str",
        "x": 660,
        "y": 640,
        "wires": [
            [
                "6ce274e8be4eef70"
            ]
        ]
    },
    {
        "id": "494089f9c0baf06b",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "group": "8a9b48a0421aaca5",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Gate MQTT Controls Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1100,
        "y": 700,
        "wires": []
    },
    {
        "id": "5bd6bf3d72f88f31",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 640,
        "wires": [
            [
                "99c38fc02e354755"
            ],
            [
                "08a065e001827f34"
            ]
        ]
    },
    {
        "id": "99c38fc02e354755",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 620,
        "wires": [
            [
                "aea7ec63192ab0ae"
            ]
        ]
    },
    {
        "id": "08a065e001827f34",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 660,
        "wires": [
            [
                "aea7ec63192ab0ae",
                "a25205529ce8e079"
            ]
        ]
    },
    {
        "id": "fb1f21dcac2b1bbf",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 640,
        "wires": [
            [
                "5bd6bf3d72f88f31"
            ]
        ]
    },
    {
        "id": "15a4a6c5f432b4ce",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 700,
        "wires": [
            [
                "494089f9c0baf06b",
                "b13bc073db40309f"
            ]
        ]
    },
    {
        "id": "a25205529ce8e079",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "15a4a6c5f432b4ce"
            ]
        ]
    },
    {
        "id": "45f7b3ed7ed5bf5a",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "group": "06e0f2c6c11ca5d1",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Last Control Msg MQTT Broker Received Was",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1360,
        "y": 640,
        "wires": []
    },
    {
        "id": "b13bc073db40309f",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "d4a8330978fdd806",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "45f7b3ed7ed5bf5a"
            ]
        ]
    },
    {
        "id": "5b252724deefeae8",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 830,
        "y": 1220,
        "wires": [
            [
                "5e8cd4a6825a5c0e",
                "e92ef6a963a94f5d"
            ]
        ]
    },
    {
        "id": "fdfa5f034510c959",
        "type": "link out",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "MQTT/Gate/Traffic--Link-Out",
        "mode": "link",
        "links": [
            "3b19c319cccc1b6d"
        ],
        "x": 1195,
        "y": 1220,
        "wires": []
    },
    {
        "id": "01be45a96cda9b66",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "MQTT Traffic Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/Traffic",
        "output": "str",
        "x": 640,
        "y": 1220,
        "wires": [
            [
                "5b252724deefeae8"
            ]
        ]
    },
    {
        "id": "a4165eb13af9d05c",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1240,
        "wires": [
            [
                "e11a901d2947d43e"
            ],
            [
                "72a8e258a43f427e"
            ]
        ]
    },
    {
        "id": "e11a901d2947d43e",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1220,
        "wires": [
            [
                "01be45a96cda9b66"
            ]
        ]
    },
    {
        "id": "72a8e258a43f427e",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1260,
        "wires": [
            [
                "01be45a96cda9b66",
                "163f981cc3770e2d"
            ]
        ]
    },
    {
        "id": "5e8cd4a6825a5c0e",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "group": "8a9b48a0421aaca5",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Traffic Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1060,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ee47ef4e01fd4185",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 1240,
        "wires": [
            [
                "a4165eb13af9d05c"
            ]
        ]
    },
    {
        "id": "9ee0ce52bb8dbcb1",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1280,
        "wires": [
            [
                "5e8cd4a6825a5c0e",
                "e92ef6a963a94f5d"
            ]
        ]
    },
    {
        "id": "163f981cc3770e2d",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1280,
        "wires": [
            [
                "9ee0ce52bb8dbcb1"
            ]
        ]
    },
    {
        "id": "e92ef6a963a94f5d",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "2635613551d60b27",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1220,
        "wires": [
            [
                "fdfa5f034510c959"
            ]
        ]
    },
    {
        "id": "15cb5ab20f047c1e",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "utf8",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 850,
        "y": 1440,
        "wires": [
            [
                "d6e37e6887400108",
                "6529b7a4b7824deb"
            ]
        ]
    },
    {
        "id": "1260c8f60faceb88",
        "type": "link out",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "MQTT/Gate/IO_Status/Inputs-Out",
        "mode": "link",
        "links": [
            "8702fb93d7db2064"
        ],
        "x": 1195,
        "y": 1440,
        "wires": []
    },
    {
        "id": "427265af0378a525",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "MQTT Input Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/IO_Status/Inputs",
        "output": "str",
        "x": 640,
        "y": 1440,
        "wires": [
            [
                "15cb5ab20f047c1e"
            ]
        ]
    },
    {
        "id": "d6e37e6887400108",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "group": "8a9b48a0421aaca5",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Inputs Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1060,
        "y": 1500,
        "wires": []
    },
    {
        "id": "72b3c0cd540490f2",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1440,
        "wires": [
            [
                "156e64359bdfa585"
            ],
            [
                "917dfd4cc57031b9"
            ]
        ]
    },
    {
        "id": "156e64359bdfa585",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "427265af0378a525"
            ]
        ]
    },
    {
        "id": "917dfd4cc57031b9",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1460,
        "wires": [
            [
                "427265af0378a525",
                "0a62a699edf140b0"
            ]
        ]
    },
    {
        "id": "4da59fe72e594292",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 1440,
        "wires": [
            [
                "72b3c0cd540490f2"
            ]
        ]
    },
    {
        "id": "92c4ce1cc7f8cf21",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1500,
        "wires": [
            [
                "d6e37e6887400108",
                "6529b7a4b7824deb"
            ]
        ]
    },
    {
        "id": "0a62a699edf140b0",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1500,
        "wires": [
            [
                "92c4ce1cc7f8cf21"
            ]
        ]
    },
    {
        "id": "6529b7a4b7824deb",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "69a604e63a27e97d",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1440,
        "wires": [
            [
                "1260c8f60faceb88"
            ]
        ]
    },
    {
        "id": "4aa70d0a8c252c9a",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "utf8",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 850,
        "y": 1620,
        "wires": [
            [
                "f2882b2364f3f1bd",
                "42225c17bae6ba7d"
            ]
        ]
    },
    {
        "id": "72826c7b04af3227",
        "type": "link out",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "MQTT/Gate/IO_Status_100/Inputs-Out",
        "mode": "link",
        "links": [
            "08787f76e9641197",
            "b39c12ae684b6148",
            "48a0a21f09ea63d3"
        ],
        "x": 1195,
        "y": 1620,
        "wires": []
    },
    {
        "id": "f4af75b72c57e4eb",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "MQTT Input 100 Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/IO_Status_100/Inputs",
        "output": "str",
        "x": 650,
        "y": 1620,
        "wires": [
            [
                "4aa70d0a8c252c9a"
            ]
        ]
    },
    {
        "id": "f2882b2364f3f1bd",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "group": "8a9b48a0421aaca5",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Inputs Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1060,
        "y": 1680,
        "wires": []
    },
    {
        "id": "0df7f2f71585e0ef",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1640,
        "wires": [
            [
                "66b28775d8818e2a"
            ],
            [
                "d926d559c8a87fa9"
            ]
        ]
    },
    {
        "id": "66b28775d8818e2a",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1620,
        "wires": [
            [
                "f4af75b72c57e4eb"
            ]
        ]
    },
    {
        "id": "d926d559c8a87fa9",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1660,
        "wires": [
            [
                "f4af75b72c57e4eb",
                "a2667de415759e14"
            ]
        ]
    },
    {
        "id": "15029baaad031907",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 1640,
        "wires": [
            [
                "0df7f2f71585e0ef"
            ]
        ]
    },
    {
        "id": "46678f3f3c0d2ff0",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1680,
        "wires": [
            [
                "f2882b2364f3f1bd",
                "42225c17bae6ba7d"
            ]
        ]
    },
    {
        "id": "a2667de415759e14",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1680,
        "wires": [
            [
                "46678f3f3c0d2ff0"
            ]
        ]
    },
    {
        "id": "42225c17bae6ba7d",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "b614652f3ce20188",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 1620,
        "wires": [
            [
                "72826c7b04af3227"
            ]
        ]
    },
    {
        "id": "078aa914175a541f",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 850,
        "y": 2000,
        "wires": [
            [
                "2c3fa0415c6ec207",
                "56b0f164ff91dc50"
            ]
        ]
    },
    {
        "id": "8b3bafbe245836b5",
        "type": "link out",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "MQTT/Gate/IO_Status_200/Outputs-Out",
        "mode": "link",
        "links": [
            "b8bbe1ff03e1813b"
        ],
        "x": 1195,
        "y": 2000,
        "wires": []
    },
    {
        "id": "a5126631ffb731b0",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "MQTT Outputs 200 Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/IO_Status_200/Outputs",
        "output": "str",
        "x": 660,
        "y": 2000,
        "wires": [
            [
                "078aa914175a541f"
            ]
        ]
    },
    {
        "id": "2c3fa0415c6ec207",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "group": "8a9b48a0421aaca5",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Outputs Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1060,
        "y": 2060,
        "wires": []
    },
    {
        "id": "5f4dcb68a349149c",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 2020,
        "wires": [
            [
                "5b28ebcdd165c112"
            ],
            [
                "3aada35597501a65"
            ]
        ]
    },
    {
        "id": "5b28ebcdd165c112",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2000,
        "wires": [
            [
                "a5126631ffb731b0"
            ]
        ]
    },
    {
        "id": "3aada35597501a65",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2040,
        "wires": [
            [
                "a5126631ffb731b0",
                "a4c04c6ae1eb7b23"
            ]
        ]
    },
    {
        "id": "87842d7b203f263a",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 2020,
        "wires": [
            [
                "5f4dcb68a349149c"
            ]
        ]
    },
    {
        "id": "1940b85bcfd0cabd",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 2060,
        "wires": [
            [
                "2c3fa0415c6ec207",
                "56b0f164ff91dc50"
            ]
        ]
    },
    {
        "id": "a4c04c6ae1eb7b23",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 2060,
        "wires": [
            [
                "1940b85bcfd0cabd"
            ]
        ]
    },
    {
        "id": "56b0f164ff91dc50",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5c6953ebf2b9376c",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 2000,
        "wires": [
            [
                "8b3bafbe245836b5"
            ]
        ]
    },
    {
        "id": "6465c28d2153e38a",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 850,
        "y": 820,
        "wires": [
            [
                "c173a841deb0cabe",
                "d2bd36b374fa7669"
            ]
        ]
    },
    {
        "id": "b299fb906258756e",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "MQTT Status Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/Status",
        "output": "str",
        "x": 640,
        "y": 820,
        "wires": [
            [
                "6465c28d2153e38a"
            ]
        ]
    },
    {
        "id": "c173a841deb0cabe",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "group": "8a9b48a0421aaca5",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Status Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1060,
        "y": 880,
        "wires": []
    },
    {
        "id": "aa6bc11ddd17ae86",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 820,
        "wires": [
            [
                "786ae75a760507f9"
            ],
            [
                "5a5709e5aa28bcaf"
            ]
        ]
    },
    {
        "id": "786ae75a760507f9",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 800,
        "wires": [
            [
                "b299fb906258756e"
            ]
        ]
    },
    {
        "id": "5a5709e5aa28bcaf",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 840,
        "wires": [
            [
                "b299fb906258756e",
                "7581d706912dbe0c"
            ]
        ]
    },
    {
        "id": "f8df2a927116d0c4",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 820,
        "wires": [
            [
                "aa6bc11ddd17ae86"
            ]
        ]
    },
    {
        "id": "e216b6a8318299a3",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 880,
        "wires": [
            [
                "c173a841deb0cabe",
                "d2bd36b374fa7669"
            ]
        ]
    },
    {
        "id": "7581d706912dbe0c",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 880,
        "wires": [
            [
                "e216b6a8318299a3"
            ]
        ]
    },
    {
        "id": "b48b55ee25c82d10",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Close",
                "fromt": "str",
                "to": "Closed",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Open",
                "fromt": "str",
                "to": "Opened",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 880,
        "wires": [
            [
                "cfc232ea47698b3c"
            ]
        ]
    },
    {
        "id": "7804597f02b44c4a",
        "type": "ui_led",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "order": 2,
        "group": "fd12bbc1d4a8ea0c",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Open  ",
                "valueType": "str"
            },
            {
                "color": "#004600",
                "value": "Close ",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1270,
        "y": 820,
        "wires": []
    },
    {
        "id": "cfc232ea47698b3c",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "group": "fd12bbc1d4a8ea0c",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Gate is",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1480,
        "y": 880,
        "wires": []
    },
    {
        "id": "d2bd36b374fa7669",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "5a83843a60939616",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 820,
        "wires": [
            [
                "b48b55ee25c82d10",
                "7804597f02b44c4a"
            ]
        ]
    },
    {
        "id": "7682b132376f231b",
        "type": "mqtt in",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "aa771505f2398495",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 850,
        "y": 2160,
        "wires": [
            [
                "4476c3e1d511e86e",
                "1a90b59c76d13247"
            ]
        ]
    },
    {
        "id": "814ba5eed9bc243e",
        "type": "template",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "MQTT RTC Template",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.client_id}}/{{flow.location_id}}/RTC/Time_Check",
        "output": "str",
        "x": 640,
        "y": 2160,
        "wires": [
            [
                "7682b132376f231b"
            ]
        ]
    },
    {
        "id": "4476c3e1d511e86e",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "group": "8a9b48a0421aaca5",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "RTC Subscribed to",
        "format": "{{msg.topic}}",
        "layout": "col-center",
        "className": "",
        "x": 1050,
        "y": 2220,
        "wires": []
    },
    {
        "id": "e1096e32ec262126",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 2180,
        "wires": [
            [
                "711efb216c2615df"
            ],
            [
                "3696b069ac79bda6"
            ]
        ]
    },
    {
        "id": "711efb216c2615df",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2160,
        "wires": [
            [
                "814ba5eed9bc243e"
            ]
        ]
    },
    {
        "id": "3696b069ac79bda6",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2200,
        "wires": [
            [
                "814ba5eed9bc243e",
                "7812d3a47f9d59ec"
            ]
        ]
    },
    {
        "id": "8c1467c1d08de906",
        "type": "link in",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "Master Sub Switch-In",
        "links": [
            "013817d8aae6b729",
            "572c428e6d941db3",
            "064bd791caf7260c"
        ],
        "x": 185,
        "y": 2180,
        "wires": [
            [
                "e1096e32ec262126"
            ]
        ]
    },
    {
        "id": "7b18bb0fb2052d76",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 2220,
        "wires": [
            [
                "4476c3e1d511e86e",
                "1a90b59c76d13247"
            ]
        ]
    },
    {
        "id": "7812d3a47f9d59ec",
        "type": "switch",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 2220,
        "wires": [
            [
                "7b18bb0fb2052d76"
            ]
        ]
    },
    {
        "id": "1a90b59c76d13247",
        "type": "change",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "null ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 2160,
        "wires": [
            [
                "1e956e2a039314b4"
            ]
        ]
    },
    {
        "id": "1e956e2a039314b4",
        "type": "ui_text",
        "z": "55aa8b476985ed2d",
        "g": "4cfd65c80daacf61",
        "group": "06e0f2c6c11ca5d1",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RTC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1230,
        "y": 2160,
        "wires": []
    },
    {
        "id": "b94aa07739e1f0db",
        "type": "ui_spacer",
        "z": "55aa8b476985ed2d",
        "name": "spacer",
        "group": "06e0f2c6c11ca5d1",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "0d65f0b93548868c",
        "type": "ui_spacer",
        "z": "55aa8b476985ed2d",
        "name": "spacer",
        "group": "fd12bbc1d4a8ea0c",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "06e0f2c6c11ca5d1",
        "type": "ui_group",
        "name": "Subscribe",
        "tab": "f79015f9c1a5c908",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd12bbc1d4a8ea0c",
        "type": "ui_group",
        "name": "Gate Control",
        "tab": "f79015f9c1a5c908",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8011cd5053dc10ed",
        "type": "ui_group",
        "name": "Gate Inputs",
        "tab": "f79015f9c1a5c908",
        "order": 4,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "675184799fb9aa77",
        "type": "ui_group",
        "name": "Gate Outputs",
        "tab": "f79015f9c1a5c908",
        "order": 5,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa771505f2398495",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "39d1932659a18864",
        "type": "ui_group",
        "name": "Gate Inputs 100",
        "tab": "f79015f9c1a5c908",
        "order": 6,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "24eacc80a147dfda",
        "type": "ui_group",
        "name": "Gate Outputs 200",
        "tab": "f79015f9c1a5c908",
        "order": 7,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a9b48a0421aaca5",
        "type": "ui_group",
        "name": "Subscribe Status",
        "tab": "f79015f9c1a5c908",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f79015f9c1a5c908",
        "type": "ui_tab",
        "name": "PLC 2 MQTT",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]